spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/supplygate_db
    username: postgres
    password: valentin04
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
